h2 {
            -moz-animation-duration: 3s;
            -webkit-animation-duration: 3s;
            -moz-animation-name: slidein;
            -webkit-animation-name: slidein;
            color: blue;
            padding-left: 40%;
            align-self: center;

         }
         @-moz-keyframes slidein {
            from {
               margin-left:100%;
               width:300%
            }
            to {
               margin-left:0%;
               width:100%;
            }
         }
         @-webkit-keyframes slidein {
            from {
               margin-top:100%;
               width:300%
            }
            to {
               margin-left:0%;
               width:100%;
            }
         }
h3 { 
   color: blue;
    align-self: center;
    padding-left: 45%;
}

form{
    margin:0 auto;
    padding-left: 40%;
    align-self: center;
}

table {
    border-collapse: collapse;
    margin:0 auto;
    align-self: center;
}
table, th, td {
    border: 1px solid black;
    font-size:17px;
}
input {
    width: 225px;
    margin: 8px 0;
    background-color: #dfdfdf;
    font-size:17px;
    align-content: center;
}
button {
    background-color: #008CBA;
    color: white;
}

.error{
    color: red;
    font-size: 20px;
}
.success{
    color: green;
    font-size: 20px;
} 